<h2>Stock Data!</h2>

<div>

    <form #stockForm="ngForm" (ngSubmit)="addStock(stockObj.companyIDFK)">

        <input name="stockPrice" class="form-control" type="number" placeholder="Enter Stock Price" [(ngModel)]="stockObj.stockPrice" required>

        <input name="timeStamp" class="form-control" type="text" placeholder="Enter TimeStamp" [(ngModel)]="stockObj.timeStamp" required>

        <input name="companyIDFK" class="form-control" type="number" placeholder="Enter Company ID" [(ngModel)]="stockObj.companyIDFK" required>

        <br>

        <button type="submit">Add Stock Details </button>

    </form>

</div>

<hr>

<div *ngFor="let s of stockList">
    {{s.companyIDFK}}-->{{s.stockPrice}}-->{{s.timeStamp}}--!<br>
</div>